/* Root for Variable Declaration */
:root {
    --background: #166088;
    --foreground: #DBE9EE;
    --mainBackground: #rgba(219,233,238, .7);
    --linkBorder: 3px solid;
}
/* Tag Selector Styling */
body {
    background-color: var(--mainBackground);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p {
    font-weight: lighter;
}


h1 {
    font-size: 250%;
}

h2 {
    font-size: 150%;
}
/* Class Selector Styling */
.bottomBorderLink {
    padding: 30px 10px 10px 10px;
    margin: 0 5px;

    background-size: 100% 200%;
    background-position: top;
    transition: all 0.7s ease-in-out;
    text-decoration: none;
    font-size: 125%;
}
    .bottomBorderLink:hover {
        background-position: bottom;

    }

/* Header Styling */
header {
    display: flex;
    background-color: var(--background);
    border-bottom: 5px solid darkcyan;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
}
    header h1 {
        flex: 0 0 350px;
        background-color: var(--foreground);
        border: 1px solid black;
        border-radius: 3px;
        color: var(--background);
        padding-left: 10%;
        width: 350px;
    }

/* Navigation Bar Styling */
nav {
    margin-right: 25px;   
}
    nav ul li{
        display: inline-block;
        text-align: center;
        border-bottom: var(--linkBorder) var(--foreground);
        background-image: linear-gradient(to top, var(--foreground) 50%, var(--background) 50%);
    }
    nav ul li a {
        transition: color .7s;
        color:var(--foreground);
    }
    nav ul li:active a{
        color: var(--background);
    }

/* Subtitle Image and Text Styling */
#jumbotron {
    width: 80%;
    height: 45vw;
    display: flex;
    margin: 25px auto;
    justify-content: space-between;
    background: url("../images/subtitle.jpg");
    background-position: center bottom;
    background-attachment: fixed;
    border: 2px solid black;
    border-radius: 3px;
    overflow: hidden;
    overflow-y: scroll;
}
    #subtitle h2 {
        background-color: var(--mainBackground);
        padding:10px;
    }

#profilePicture {
    border: 1px solid darkslategray;
    box-shadow: 3px 3px 3px darkslategray;
    border-radius: 5px;
    height: 250px;
    margin: 0 auto;
    display: block;
}
#accordionSection {
    display:none;
    margin-top: 25px;
}
#nonAccordionSection {
    width: 100%;
    margin: 0 auto;
}

/* Article Styling - Each section is a separate article but styled the same*/
article {
    background-color: var(--foreground);
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
    width: 90%;
    margin: 25px auto;
    padding: 25px 0;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    align-items: center;
    opacity: 0;
    transition: all .5s;
}
    article .headline {
        width: 75%;
        text-align: center;
        margin: 0 auto;
        color: var(--background);
        
    }
    article .description {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        width:75%;
        padding-left: 10px;
    }
    article .visible {
        opacity: 1;
    }
#about {
    display: flex;
}
/* Works Section Styling - Provides basic placeholder style that is
        overruled by specific ID as projects are added */
.workCard {
    position: relative;
    margin: 5px 5px 5px 0;
    position: relative;
    background-image: url(../images/what-is-coding.jpeg);
    height: 150px;
    border: 5px solid var(--foreground);
}
    .workCard div {
        background-color: var(--foreground);
        color:var(--background);
        position:absolute;
        bottom: 15px;
        left: 0px;
        width: max-content;
        padding: 0 10px;
        z-index: 2;
    }
    .workCard::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: "";
        background: rgb(4, 198, 224) 70% 0 repeat-x;
        transition: opacity .3s;
        opacity: .4;
    }

    .large {
        width: 100%;
        height: 250px;
    }
    .small {
        flex: 1 0 300px;
    }
    .workCard:hover::after{
        transition: opacity .3s;
        opacity: 0;
    }

    .workCard .links {
        display: flex;
        flex-wrap: wrap;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        justify-content: space-evenly;
        align-items: center;
        transition: all 0.3s ease-in-out;
        background-color: rgba(158,202,204, 0.9);
    }
    .workCard .links h3 {
        font-size: 1.0rem;
        color:black;
        width: 100%;
        text-align: center;
    }
    .workCard .cardLink {
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        transition: opacity .4s ease-in-out;
    }
    .workCard .cardLink:hover{
        color: var(--mainBackground);
    }

    #cryptoWallet {
        background-color: #EDE7D9;
        background-image: url(../images/cryptoWallet-screenshot.jpg);
        background-size: 100%;
        background-position: 50% 15%;;
        background-repeat: no-repeat;
        min-width: 300px;
    }
    #weatherDashboard {
        background-color: #EDE7D9;
        background-image: url(../images/06-Homework-screenshot.jpg);
        background-size: 100%;
        background-position: 50% 15%;;
        background-repeat: no-repeat;
        min-width: 300px;
    }
    #dayPlanner {
        background-color: #EDE7D9;
        background-image: url(../images/05-Homework-screenshot.jpg);
        background-size: 100%;
        background-position: 50% 15%;;
        background-repeat: no-repeat;
        min-width: 300px;
    }
    #codeQuiz {
        background-color: #EDE7D9;
        background-image: url(../images/04-Homework-screenshot.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        min-width: 300px;
    }
    /* Password Generator Project */
    #readmeGenerator {
        background-color: white;
        background-image: url(../images/09-Homework-screenshot.jpg);
        background-size: 140%;
        background-position: 50% 20%;
        background-repeat: no-repeat;
        min-width: 300px;
    }

/* Contact Section Styling */
#contactList ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    

}

    #contactList ul li {
        display: inline-block;
        padding:30px 10px 5px 10px;
        border-bottom: var(--linkBorder) var(--background);
        background-image: linear-gradient(to top, var(--background) 50%, var(--mainBackground) 50%);
    }
        #contactList ul li a {
            transition: color .7s;
            color: var(--background);
        }
        #contactList ul li:hover a {
            color: var(--mainBackground);
        }

/* Resume Styling */
#resume a {
    margin: 0 auto;
    padding:30px 10px 5px 10px;
    border-bottom: var(--linkBorder) var(--background);
    transition: color .7s;
    color: var(--background);
}
    #resume img {
        height:30px;
    }
/* Footer Styling */
footer{
    display: flex;
    background-color: var(--background);
    color: var(--foreground);
    height: 50px;
    margin: 25px 0;
    align-items: center;
    justify-content: center;
}

.accordion-body {
    background-color:var(--foreground);
}

/* Media Queries for smaller screens */
@media screen and (max-width: 850px) {
    #jumbotron {
        display: none;
    }
    header {
        height: 120px;
    }
    header h1,
    header nav {
      margin: 0 auto;
    }
    header nav {
        display: none;
    }
    article {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    article .headline {
        text-align: center;
    }
    article .description {
        width: 90%;
        border: 0;
    }
    #accordionSection {
        display:block
    }
    #nonAccordionSection {
        display: none;
    }
    #contactList ul {
        padding: 0;
    }
    #resume.description {
        text-align: center;
    }

}
@media screen and (max-width: 674px) {
    header h1 {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .bottomBorderLink {
        padding: 0;
    }
    #accordionSection {
        display:block
    }
    #nonAccordionSection {
        display: none;
    }
}
@media (hover:hover) {
    nav ul li:hover a{
        color: var(--background);
    }
}